@model JogoDaVelhaWEB.Models.Jogo
@{
    ViewBag.Title = "Index";
}

<div id="divContainer">
    <div id="divHeader">
        @Html.Partial("_Header")
    </div>
    <div id="divJogo" style="display: none">
    </div>
</div>
